.container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);
}

.mat-toolbar-single-row{
    height:50px;
}

.logout {
    margin-left: auto;
}


.mat-drawer.mat-drawer-side {
    padding: 0 5px;
}
 
.empty-conversation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
 
.conversation-header h2, .conversation-header p {
    align-items: center;
    display: flex;
}
 
.text-center {
    text-align: center;
    width: 100%;
}
 
.conversation-history.mat-list {
    height: calc(100% - 180px);
    overflow-x: scroll;
    position: absolute;
    width: 100%;
}
 
.conversation-history.mat-list p {
    margin: 0;
}
 
.empty-conversation h1 {
    margin: 0;
}
 
.conversations .mat-list-item {
    cursor: pointer;
}
 
.mat-card {
    padding: 0 24px;
    overflow: scroll;
}
 
section .mat-list .mat-list-avatar{
    width: 25px;
    height: 25px;
}
 
.mat-list-avatar {
    margin: 0 5px;
}
 
.right {
    text-align: right;
}
 
.full-width {
    width: 100%;
}
 
.full-width .mat-icon {
    cursor: pointer;
}