.green-icon {
    color: green;
}
/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.green-icon svg {
    fill: green;
}

.red-icon {
    color: red;
}
/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.red-icon svg {
    fill: red;
}