<div class="login" fxLayout="row" fxLayoutAlign="center none"  style="box-sizing: content-box !important; padding-top:200px;">

<mat-card class="card-login" style="width:300px;margin: 0 auto;">
    <mat-card-title style="text-align:center;"><img src="/assets/aws_icon.webp" width="100"></mat-card-title>
    <mat-card-subtitle style="text-align:center;">
        Welcome to Serverless chat!
    </mat-card-subtitle>
    <mat-card-content>
      <h2>Redirecting to login page...</h2>
    </mat-card-content>
  </mat-card>
</div>